.App {
  text-align: center;
}

a {
  background-color: lightblue;
  padding: 10px 0;
  display: block;
  width: 100%;
  font-size: 24px;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 5vh;
}

.grid img {
  display: block;
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.grid-card,
.detail-card {
  padding: 30px;
  background-color: lightslategray;
}

.detail-card h1 {
  font-size: 50px;
}

.detail-card p {
  font-size: 30px;
}

.search input {
  margin: 5vh auto 1vh auto;
  display: block;
  width: 30%;
  height: 30px;
}

.btn {
  width: 30%;
  display: block;
  margin: 0 auto 5vh auto;
}

.btn:hover {
  box-shadow: 0px 0px 8px grey;
}